---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$foreground-color: #EEE;
$hover-color: #FFF;
$gold: #FFBF00;
$bright-gold: #FFD700;
$background-color: rgba(0, 0, 0, 0.75);
$border-color: $foreground-color;

@mixin borders() {
	border: 1px solid $border-color;
	border-radius: 7px;
}

@mixin gold-hover-link($color) {
	a {
		color: $color;
		text-decoration: none;
		&:hover {
			color: $bright-gold;
			text-decoration: none;
		}
	}
}

// GENERAL

html {
	background-color: transparent;
	@include gold-hover-link($gold);
}

body {
	background-image: url("../images/site/starry-sky.jpg");
	background-attachment: fixed;
}

// outlining focused elements can be ugly
%tab-focus {
	outline: none;
}

// HEADER

.masthead {
	border: none;

	&__inner-wrap {
		padding-left: 0;
		padding-right: 0;
	}

	.site-subtitle {
		transition: none;
	}

}

.greedy-nav {
	background-color: $background-color;
	@include borders();
	@include gold-hover-link($foreground-color);

	.site-title {
		padding-left: 2rem;
	}

	a:hover:before {
		content: none;
	}
}

// HERO / TITLE IMAGE / FEATURE ROWS

.page__hero--overlay {
	margin-top: 1em;
	border-top: 1px solid $foreground-color;
	border-bottom: 1px solid $foreground-color;
	background-color: $background-color;
	@include gold-hover-link($gold);
}

.feature__wrapper {
	margin-bottom: 0;
	border: none;
}

.archive__item {
	&:hover {
		.archive__item-title {
			text-decoration: none;
		}
	}

	.archive__item-teaser {
		// magic numbers for the win!
		z-index: -2;
	}
}

.archive__item-body {
	margin-top: -3em;
	margin-left: 0.5em;
}

.archive__item-body > p {
	margin-bottom: 0;
}

.btn {
	color: black !important;
	background-color: $gold;
	&:hover {
		background-color: $bright-gold;
	}
}

// NAV

.sidebar {
	opacity: inherit;
	transition: none;
}

.nav__list .nav__items {
	.active {
		color: black;
		background-color: $gold;
		&:hover {
			color: black;
			background-color: $bright-gold;
			text-decoration: none;
		}
	}

	& > li > ul > li {
		@include gold-hover-link($foreground-color);
		margin-left: 0.5em;
	}
}

// MAIN

#main {
	@include borders();
	padding: 1em 2rem;
	background-color: $background-color;
	color: $foreground-color;
}

.page__content {
	@include gold-hover-link($gold);
}

// CODE

// allow more code to be seen by reducing font size
// and increasing horizontal space
@media (min-width: 64em) {
  pre.pygments.highlight {
	margin: 0.5em;
  }
}

pre.pygments.highlight {
  font-size: 0.75em;
  padding: 0.5em;
}

// make inline code readable by removing background and border
p > code,
a > code,
li > code,
figcaption > code,
td > code {
  background: inherit;
  border: none;
  box-shadow: none;
  font-size: 0.9em;

  &:before, &:after {
    letter-spacing: inherit;
    content: none;
  }
}

.coordinates {
  background-color: $gold;
  color: black;
  padding: 0.5em 1em;
  border-radius: 4px;
}

// FOOTER

.page__footer {
	color: $foreground-color;
	background-color: inherit;
	margin-top: 1em;
	border: none;

	.social-icons .fab, .social-icons .fas {
		color: $foreground-color;
	}

	@include gold-hover-link($foreground-color);

	footer {
		@include breakpoint($x-large) {
			max-width: $x-large;
		}
		@include borders();
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		padding: 1em 2rem;

		background-color: $background-color;
	}
}
